<div class="container">

  <div class="map">
  </div>

  <div class="litte-cards card">
    <ul>
    <h2><li><em><%= @flat.name %></em></li></h2>
      <li> <%= @flat.address %></li>
        <li>  <%= @flat.description %></li>
        <li><%= @flat.price_per_night %></li>
        <li><%= @flat.number_of_guests %></li>
      </ul>
  </div>
</div>
